Flask
Flask-Admin
flasgger
sqlalchemy
psycopg2-binary
pandas
python-dotenv
python-dateutil
alembic
boto3
xlrd
openpyxl>=3.1.0
Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-Admin==1.6.1
psycopg[binary]==3.2.13
python-dotenv==1.0.0
gunicorn==22.0.0
